<h1>Your Feedback Questions</h1>

  <% if @user.id==@session_id %>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Question</th>
          <th>Avg</th>
          <th></th>
          <tbody>
          <% @user.questions.each do |question| %>
          <tr>
          <td><%= question.summary %></td>
          <td><%= number_with_precision(question.answers.average(:number),:precision => 2) %></td>
          <td><%= link_to 'Show', question_url(@user, question)%></td>
          <td><%= link_to 'Edit ', edit_question_url(@user, question) %></td>
          <td><%= link_to 'Destroy', question_url(@user, question), method: 'delete', data: { confirm: "Do you really want to delete this question?" } %></td>
          <% end %>
      </tbody>
        </tr>
       </thead>
    </table>

  <% else %>
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th>Question</th>
          <th></th>
          <tbody>
          <% @user.questions.each do |question| %>
          <tr>
          <td><%= question.summary %></td>
          <td>
              <%= form_tag("/users/#{@user.id}/questions/#{question.id}/answers", method: 'post') do %>
              <%= select_tag :number, options_for_select(1..5) %>
              <%= hidden_field_tag :question_id, question.id %> <!-- give the server hidden values  -->
              <%= submit_tag %>
            <% end %>
          </td>
          <% end %>
      </tbody>
        </tr>
       </thead>
    </table>

<% end %>
 <p><span class="btn-label"><%= link_to 'Add A New Question',new_question_url , class: "btn btn-info" %></p>
