<h1>Questions</h1>

<p><%= link_to 'Add a New Question', new_question_url( @user.id ) %></p>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th></th>
      <th>Average Answer</th>
    </tr>
  </thead>

  <tbody>
  <% @user.questions.each do |question| %>
    <tr>

      <td><%= question.summary %></td>
      <td></td>
      <td><%= question.answers.average(:number) %></td>
      <td><%= link_to 'Add Feedback', answers_url(question) %></td>
      <td><%= link_to 'Show', question_url(question) %></td>
      <td><%= link_to 'Edit ', edit_question_url(question) %></td>
      <td><%= link_to 'Destroy', question_url(question), method: 'delete', data: { confirm: "Do you really want to delete this question?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>




