<h1>Editing Answer #<%= @answer.id %></h1>


<%= form_tag(answer_url(@answer), method: 'put') do %>

  <div>
    <%= label_tag :number %><br/>
    <%= number_field_tag :number, @answer.number %>
  </div>

  <div>
    <%= label_tag :text %><br />
    <%= text_field_tag :text, @answer.text %>
  </div>


  <div>
    <%= submit_tag "Update Answer" %>
  </div>

<% end %>
